{% extends 'AppBundle::layout.html.twig' %}



{% block content %}

    <div class="row">
        <h2>Mes carnets</h2>

        <a href="{{ path('notebook_new') }}">Ajouter un carnet</a>

        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="alert-{{ type }}">
                    <p>{{ message }}</p><br>
                </div>
            {% endfor %}
        {% endfor %}

        <table class="table table-striped">
            <tr>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
            {% for notebook in notebooks %}
                <tr>
                    <td>{{ notebook.name }}</td>
                    <td>
                        {% if notebook.name == 'Default' %}
                            <a role="button" class="btn btn-info" href="{{ path('notebook_view', {id : notebook.id}) }}">Voir</a>
                            <a role="button" class="btn btn-danger" href="{{ path('notebook_confirm',{id : notebook.id}) }}">Supprimer</a>
                        {% else %}
                        <a role="button" class="btn btn-primary" href="{{ path('notebook_update', {id : notebook.id}) }}">Modifier</a>
                            <a role="button" class="btn btn-info" href="{{ path('notebook_view', {id : notebook.id}) }}">Voir</a>
                            <a role="button" class="btn btn-danger" href="{{ path('notebook_confirm',{id : notebook.id}) }}">Supprimer</a>
                            {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock content %}