{% extends 'AppBundle::layout.html.twig' %}



{% block content %}

    <a href="{{ path('notebook_index') }}">Retour aux carnets</a>

    <h4>Ajouter un carnet</h4>

    {{ form_start(form) }}

    <div class="form-group">
        {{ form_widget(form.name, {attr : { class : 'form-control', placeholder: 'Nom'}}) }}
    </div>
    {{ form_widget(form._token) }}

    <button class="btn btn-success" type="submit">Créer</button>

    {{ form_end(form) }}


{% endblock content %}